useDynLib("etasFLP")
S3method(summary,etasclass)
S3method(plot,etasclass)
S3method(print,etasclass)
S3method(profile,etasclass)
S3method(plot,profile.etasclass)
S3method(summary,eqcat)
S3method(plot,eqcat)
export(b.guten,bwd.nrd, eqcat, etasclass, kde2dnew.fortran, kde2d.integral,magn.plot, MLA.freq, simpson.coeff, time2date,xy.grid)
import(mapdata, maps)
importFrom(fields, image.plot)
importFrom(rgl,plot3d,lines3d)
